@page "/New"
@using BlackWatch.WebApp.Services
@using BlackWatch.WebApp.Features.Api
@inject NavigationManager _navigation
@inject IApiClient _api

<h3>New</h3>

<TallySourceEditor Model="_model"></TallySourceEditor>

<div class="my-1">
    <button class="btn btn-primary" @onclick="SaveAsync">OK</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</div>

@code {
    private readonly TallySource _model = new();

    private async Task SaveAsync()
    {
        var command = new PutTallySourceCommand(
            _model.Name ?? string.Empty,
            _model.Message ?? string.Empty,
            _model.Code ?? string.Empty,
            _model.Interval);

        await _api.CreateTallySourceAsync(command);
        GoBack();
    }

    private void Cancel()
    {
        GoBack();
    }

    private void GoBack()
    {
        _navigation.NavigateTo("/");
    }
}