@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row">
            <span class="title">BlackWatch</span>
            <NavMenu/>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>