@using System.Text.RegularExpressions
@using System.Diagnostics
@using BlackWatch.WebApp.Services
@inject UiService _ui;

<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-bar-chart" aria-hidden="true"></span> Tally
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="source/new">
            <span class="oi oi-plus" aria-hidden="true"></span>Create
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="source/">
            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="sys/">
            <span class="oi oi-cog" aria-hidden="true"></span> System
        </NavLink>
    </li>
</ul>
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="" @onclick:preventDefault @onclick="OnReloadClicked" title="Reload">
            <span class="oi oi-reload" aria-hidden="true"></span> Reload
        </a>
    </li>
</ul>

@code {
    private void OnReloadClicked()
    {
        _ui.RaiseRefresh();
    }
}