@using BlackWatch.WebApp.Features.Api
<form action="#" class="row p-3">
    <div class="col-8">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" id="name" class="form-control" @bind="Model!.Name"/>
    </div>
    <div class="col-4">
        <label for="interval" class="col-form-label">Evaluation Interval</label>
        <select id="interval" class="form-control" @bind="Model!.Interval">
            <option value="Disabled">--</option>
            <option value="OneHour">1 hour</option>
            <option value="SixHours">6 hours</option>
            <option value="OneDay">1 day</option>
        </select>
    </div>
    <div class="col-12">
        <label for="message" class="col-form-label">Message</label>
        <input type="text" id="message" class="form-control" @bind="Model!.Message"/>
    </div>
    <div class="col-12">
        <label for="code" class="col-form-label">Code</label>
        <MonacoEditor @ref="_codeEditor" Id="code" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="EditorModelContentChanged" />
        @if (_compilationError != null)
        {
            <div class="alert alert-warning my-1">@_compilationError</div>
        }
    </div>
</form>

@code {
    private MonacoEditor? _codeEditor;
    private TallySource? _model;
    private string? _compilationError;

    [Parameter]
    public TallySource? Model
    {
        get => _model;
        set
        {
            _model = value;
            _codeEditor?.SetValue(value?.Code);
        }
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            Theme = "vs",
            RenderWhitespace = "all",
            Minimap = new EditorMinimapOptions { Enabled = false },
            Dimension = new Dimension { Height = 400 },
            FontSize = 14,
            AutomaticLayout = true,
            Language = "javascript",
            Value = Model?.Code,
            FontLigatures = true,
            FontFamily = "JetBrains Mono, Fira Code, Cascadia Code, Consolas, monospace",
        };
    }

    private async void EditorModelContentChanged()
    {
        if (_model != null && _codeEditor != null)
        {
            _model.Code = await _codeEditor.GetValue();
        }
    }
}