@using BlackWatch.WebApp.Features.Api
<form action="#" class="row p-3">
    <div class="col-8">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" id="name" class="form-control" @bind="Model!.Name"/>
    </div>
    <div class="col-4">
        <label for="interval" class="col-form-label">Evaluation Interval</label>
        <select id="interval" class="form-control" @bind="Model!.Interval">
            <option value="Disabled">Disabled</option>
            <option value="OneHour">OneHour</option>
            <option value="SixHours">SixHours</option>
            <option value="OneDay">OneDay</option>
        </select>
    </div>
    <div class="col-12">
        <label for="message" class="col-form-label">Message</label>
        <input type="text" id="message" class="form-control" @bind="Model!.Message"/>
    </div>
    <div class="col-12">
        <label for="code" class="col-form-label">Code</label>
        <textarea id="code" class="form-control code-editor" rows="12" @bind="Model!.Code" @oninput="CodeChanged"></textarea>
        @* <MonacoEditor @ref="_codeEditor" Id="robotCode" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="EditorModelContentChanged" /> *@
        @if (_compilationError != null)
        {
            <div class="alert alert-warning my-1">@_compilationError</div>
        }
    </div>
</form>


@code {
    private string? _compilationError;

    [Parameter]
    public TallySource? Model { get; set; }

    private void CodeChanged(ChangeEventArgs obj)
    {}
}